.history {
  padding: 0.6rem;
  outline: none;
  cursor: pointer;
}

.selectedHistory {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contentBody {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 1;
}

.contentBody * {
  overflow: hidden;
}

.travelButton {
  background: transparent;
  cursor: pointer;
  color: var(--dark-teal);
  flex-grow: 0;
  margin: 0.4em 0.6em;
  padding: 2px 6px 3.5px;
  border: solid 1px var(--dark-teal);
  border-radius: 4px;
  outline: none;
}

.travelButton:active:hover {
  background: rgba(255, 255, 255, 0.2);
}

.history h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
}
.history h5 {
  font-weight: normal;
  font-size: 0.6rem;
}
